{% extends "layout1.html" %}

{% block content %}


        <article class="media content-section">

          <div class="media-body">

            

            <h2><a class="article-title" href="#"><b><u>PES UNIVERSITY CDSAML</u></b></a></h2>

            <p class="article-content">Center for Data Science and Applied Machine Learning(CDSAML) at PES  University focuses on
       <ul>
<li>Image Processing, Computer Vision and Pattern Recognition using technologies from Artificial Intelligence, Machine Learning and Deep learning.</li>
<li>Social Media Analytics using technologies from Statistical Machine Learning(SML), Natural Language Processing and Information Visualization.</li>
</ul>
The goal of CDSAML is to build systems and algorithms to extract knowledge, find patterns, generate insights and predictions from diverse data for various applications and visualization. The center conducts survey research, qualitative data collection, and data analysis.</p>

          </div>

        </article>

    

{% endblock content %}